{% extends 'base.html' %}
{% load static %}

{% block head %}
<!--    <link rel="stylesheet" href="{% static 'css/category.css' %}">-->
    <title>CategoryPolitic page</title>
{% endblock head %}

{% block header %}
{% endblock header %}


{% block content %}
    <ul>
        {% for new in news %}
            {% if new.news_category.pk == 2  %}
                <li class="categories">
                    <a href="{% url 'category_politic_detail' new.pk %}">
                        <h2>
                            {{ new.news_title }}
                        </h2>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}


{% block footer %}
    <h1>Hello this is the footer</h1>
{% endblock footer %}