{% extends 'base.html' %}
{% load static %}


<!-- block head -->
{% block head %}

{% endblock head %}



<!-- block content -->
{% block content %}
    {{ certain_new.pk }}<br><br>
    <h2>
        TOPIC: {{ certain_new.news_title }}
    </h2>
    <h3>
        {{ certain_new.at_date }}
    </h3>
    {{ certain_new.news_body }}


    <a href="{% url 'news_edit' certain_new.pk %}">
        <h2>
            Edit News
        </h2>
    </a>

    <a href="">
        <h2>
            Delete News
        </h2>
    </a>
{% endblock content %}
